Source: libapache2-mod-ruid2
Maintainer: Frank Groeneveld <frankgroeneveld@gmail.com>
Section: web
Priority: optional
Standards-version: 3.9.2
Build-Depends: debhelper (>= 8), apache2-prefork-dev (>= 2.2.3-3), libcap-dev

Package: libapache2-mod-ruid2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mod_ruid2 is a suexec module for apache which takes advantage of POSIX.1e capabilities.
 mod_ruid2 is a suexec module for apache 2.0, based on mod_ruid and mod_suid2.
 .
 It has better performance than mod_suid2 because it doesn't need to kill httpd
 children after one request. it makes use of kernel capabilities and after
 receiving a new request suids again.
