#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	apxs2 -l cap -c mod_ruid2.c

override_dh_auto_install:
	mkdir -p $$(pwd)/debian/libapache2-mod-ruid2/usr/lib/apache2/modules
	install -m 644 .libs/mod_ruid2.so $$(pwd)/debian/libapache2-mod-ruid2/usr/lib/apache2/modules

override_dh_auto_clean:
	rm -rf .libs/ *lo *la *sla
